<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li><%= config.title %> &copy; <%= date(new Date(), 'YYYY') %></li>
      <% if (theme.beian && theme.beian.enable && theme.beian.number){ %>
        <li><a href="https://beian.miit.gov.cn/" target="_blank"><%- theme.beian.number %></a></li>
      <% } %>
      <li><%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a></li>
      <li><%= __('theme ') %> <a href="https://github.com/zhwangart/hexo-theme-ocean">Ocean</a></li>
    </ul>
  </div>
</footer>

