<%- partial('_partial/head') %>

<body>
  <main class="content">
    <%- body %>
    <%- partial('_partial/footer') %>
  </main>
  <aside class="sidebar">
    <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
  </aside>
  <%- partial('_partial/after-footer') %>
</body>

</html>

<!-- 鼠标点击特效 之 爆炸红心效果-->
<canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/snorlaxse/jsDeliver/js/click/fireworks.js"></script>  


<!-- 樱花飘落特效 -->
<script src="https://cdn.jsdelivr.net/gh/snorlaxse/jsDeliver/js/sakura.js"></script>